<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(public|images|css|js)/
# Exclude by filetype (optional)
#RewriteCond $1 !\.(gif|jpe?g|png|bmp|ico|css|js)$
RewriteRule ^(.*).html$ index.php/$1 [PT,L]
RewriteRule ^(.*).json$ index.php/$1 [PT,L]
RewriteRule ^(.*).xml$ index.php/$1  [PT,L]
Options All -Indexes
 </IfModule>

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip