<IfModule mod_rewrite.c>
RewriteEngine On
#AcceptPathInfo On
RewriteRule \.log$ - [R=404]
RewriteRule \.php$ - [R=404]

RewriteCond %{REQUEST_URI} !/img/
RewriteCond %{REQUEST_URI} !/css/
RewriteCond %{REQUEST_URI} !/js/
RewriteCond %{REQUEST_URI} !/index\.php
RewriteRule .* index.php/$0 [L,QSA]

RewriteRule ^images/.+ public/$0 [L]
RewriteRule ^js/.+ public/$0 [L]
RewriteRule ^css/.+ public/$0 [L]

Options All -Indexes
 </IfModule>

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip