<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ index.php?url=$1 [PT,L]
RewriteRule ^(.*).html$ index.php/$1 [PT,L]
RewriteRule ^(.*).json$ index.php/$1 [PT,L]
RewriteRule ^(.*).xml$ index.php/$1 [PT,L]
</IfModule>
